/*
	font-family: "Open Sans", "DejaVu Sans", Verdana, sans-serif;
	font-family: Montserrat, "Liberation Sans", Tahoma, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	font-family: "Arial Black", Gadget, sans-serif;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-family: Tahoma, Geneva, sans-serif;
*/

body {
  padding:1em;
  background: #112;
  color: #ddd;
  margin-left: 2%;
  margin-right: 2%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

table, td, th { border: 1px solid #bbb; padding:0.5em; }

table { border-collapse: collapse; }

th { background-color: #ddd; }

td { vertical-align: top; }

img.banner {
  max-width: 850px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 2em auto;
}

img.file-icon {
  width: 3em;
  height: auto;
  display: block;
}

img.inline-icon {
  display:inline;
  height: 1.2em;
  width: auto;
  vertical-align: middle; /* Aligns the icon's center with the text center */
  margin-top: -2px;       /* Fine-tuning for the "Trebuchet MS" baseline */
}

img.btn-icon {
  width: 3em;
  height: auto;
  display: block;
}

div.headspace {
  margin-top:5em;
}

div.pagetext, div.chapters, div.languages  {
  margin: 0 auto;
  max-width: 850px;
  line-height: 1.7;
}

div.languages  {
  margin-bottom:2em;
}

code {
  background: #447;
  color: #efa;
  padding-left:0.2em;
  padding-right:0.2em;
}

span.error-text {
  background: #000;
  color: #f00;
  font-weight: bold;
  padding-left:0.2em;
  padding-right:0.2em;
}

h1, h2, h3 {
  color:#dba;
  font-family: "Open Sans", "DejaVu Sans", Verdana, sans-serif;
}

h3.pro-tip {
  margin-top: 0;
  color: #efa;
}

div.pro-tip {
  background: #223;
  border-left: 5px solid #898;
  padding: 1em;
  margin: 2em 0;
}

a {
  color:#8d8;
}

span.subheading, span.subtitle {
  font-style:italic;
  font-size: 0.90em;
}

span.subtitle {
  color: #898;
}

span.aka {
  font-style:italic;
  color: #898;
  font-size: 0.90em;
  /* margin-left: 0.4em; */
}

span.later {
  font-style:italic;
  color: #444;
}

div.credit {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  max-width: 850px;
  line-height: 1.7;
  color: #898;
  margin-top:2em;
  margin-bottom:1em;
}

span.this-page, span.this-lang { }

